layout {
    tab name="Art" hide_floating_panes=true {
    pane name="Forge" 
    
    }
    tab name="Chat" hide_floating_panes=true split_direction="vertical" {
    pane name="Textui" 
    }
    tab name="Arch" {
    pane 
    }
    tab name="Ubuntu" {
    pane 
    }

    default_tab_template {
    children
        pane size=1 borderless=true {
                plugin location="file:/home/antivash/.config/zellij/plugins/zjstatus.wasm" {
                format_left  "#[fg=#212121,bg=#212121,bold]{mode}#[fg=#212121,bg=#bf7a29,bold]󰋜 {command_uname}   #[fg=#bf7a29,bg=transparent]▓▒░#[fg=#212121,bg=transparent]─┤"
                format_center "{tabs}"
                format_right "#[fg=#212121,bg=transparent] ├─░▒▓#[fg=#b2a191,bg=#212121]{command_day}#[bg=#bf7a29,fg=#212121]{datetime}#[bg=#212121,fg=#bf7a29]#[fg=#b2a191,bg=#212121]{command_time}#[fg=#212121,bg=transparent]▓▒░"
                format_space "#[bg=transparent,fg=transparent]·"

                hide_frame_for_single_pane "false"

                mode_normal  "#[fg=#212121,bg=transparent]░▒▓#[bg=#212121,fg=#b2a191]󰣇  #[bg=#bf7a29,fg=#212121] "
                mode_pane  "#[fg=#212121,bg=transparent]░▒▓#[bg=#212121,fg=#b2a191,bold,italic]󰣇 Pane  #[bg=#bf7a29,fg=#212121]"
                mode_tab  "#[fg=#212121,bg=transparent]░▒▓#[bg=#212121,fg=#b2a191,bold,italic]󰣇 Tab #[bg=#bf7a29,fg=#212121]"
                mode_resize  "#[fg=#212121,bg=transparent]░▒▓#[bg=#212121,fg=#b2a191,bold,italic]󰣇 Resizing Pane  #[bg=#bf7a29,fg=#212121]"
                mode_locked        "#[fg=#212121,bg=transparent]░▒▓#[bg=#212121,fg=#b2a191,bold,italic]󰣇 Locked #[bg=#bf7a29,fg=#212121]"
                mode_scroll        "#[fg=#212121,bg=transparent]░▒▓#[bg=#212121,fg=#b2a191,bold,italic]󰣇 Scroll #[bg=#bf7a29,fg=#212121]"
                mode_enter_search  "#[fg=#212121,bg=transparent]░▒▓#[bg=#212121,fg=#b2a191,bold,italic]󰣇 Enter Search #[bg=#bf7a29,fg=#212121]"
                mode_search        "#[fg=#212121,bg=transparent]░▒▓#[bg=#212121,fg=#b2a191,bold,italic]󰣇 Search #[bg=#bf7a29,fg=#212121]"
                mode_Renaming_tab    "#[fg=#212121,bg=transparent]░▒▓#[bg=#212121,fg=#b2a191,bold,italic]󰣇 Renaming Tab #[bg=#bf7a29,fg=#212121]"
                mode_Renaming_pane   "#[fg=#212121,bg=transparent]░▒▓#[bg=#212121,fg=#b2a191,bold,italic]󰣇 Renaming Pane #[bg=#bf7a29,fg=#212121]"
                mode_session       "#[fg=#212121,bg=transparent]░▒▓#[bg=#212121,fg=#b2a191,bold,italic]󰣇 Session #[bg=#bf7a29,fg=#212121]"
                mode_move          "#[fg=#212121,bg=transparent]░▒▓#[bg=#212121,fg=#b2a191,bold,italic]󰣇 Move #[bg=#bf7a29,fg=#212121]"
                mode_prompt        "#[fg=#212121,bg=transparent]░▒▓#[bg=#212121,fg=#b2a191,bold,italic]󰣇 Prompt #[bg=#bf7a29,fg=#212121]"
                mode_tmux          "#[fg=#212121,bg=transparent]░▒▓#[bg=#212121,fg=#b2a191,bold,italic]󰣇 Tmux #[bg=#bf7a29,fg=#212121]"

                tab_normal              "#[bg=transparent,fg=#212121]░▒▓#[fg=#b2a191,bg=#212121] {index} #[bg=#212121,fg=#b2a191]╱ {name} #[fg=#212121,bg=transparent]▓▒░"
                tab_normal_fullscreen   "#[fg=#000000,bg=#212121] {index} {name} [] "
                tab_normal_sync         "#[fg=#000000,bg=#212121] {index} {name} <> "
                tab_active              "#[fg=#bf7a29,bg=transparent]░▒▓#[fg=#212121,bg=#bf7a29,bold,italic] {index} ╱ {name} #[fg=#bf7a29,bg=transparent]▓▒░"
                tab_active_fullscreen   "#[fg=#9399B2,bg=transparent,bold,italic] {index} {name} [] "
                tab_active_sync         "#[fg=#9399B2,bg=transparent,bold,italic] {index} {name} <> "


                datetime          "#[fg=#080808,bg=#bf7a29,bold] {format} "
                datetime_format   "%d %b %Y"
                datetime_timezone "America/Chicago"

                // the command that should be executed
                command_day_command  "bash -c \"date +%A\""
                
                // themeing and format of the command
                command_day_format   "{stdout} {stderr}"
                
                // interval in seconds, between two command runs
                command_day_interval "1"
                
                // render mode of the command. ["static", "dynamic", "raw"]
                //
                // "static"  :: format the command with the given format from the config and don't
                //              consider any other formatting directives
                // "dynamic" :: format the command based on the command output. When the command
                //              output contains formatting strings for zjstatus, zjstatus will
                //              try to render them. This might lead to unexpected behavior, in case
                //              the formatting is not correct.
                // "raw"     :: do not apply any formatting. This can be used to properly render
                //              ansi escape sequences from the command output.
                command_day_rendermode "static"

                // the command that should be executed
                command_time_command  "bash -c \"date +%X\""
                
                // themeing and format of the command
                command_time_format   "{stdout} {stderr}"
                
                // interval in seconds, between two command runs
                command_time_interval "1"
                
                // render mode of the command. ["static", "dynamic", "raw"]
                //
                // "static"  :: format the command with the given format from the config and don't
                //              consider any other formatting directives
                // "dynamic" :: format the command based on the command output. When the command
                //              output contains formatting strings for zjstatus, zjstatus will
                //              try to render them. This might lead to unexpected behavior, in case
                //              the formatting is not correct.
                // "raw"     :: do not apply any formatting. This can be used to properly render
                //              ansi escape sequences from the command output.
                command_time_rendermode "static"

                // the command that should be executed
                command_uname_command  "bash -c \"echo $(echo $USER | sed 's/.*/\\L&/; s/^./\\U&/')\""
                
                // themeing and format of the command
                command_uname_format   "{stdout} {stderr}"
                
                // interval in seconds, between two command runs
                command_uname_interval "1"
                
                // render mode of the command. ["static", "dynamic", "raw"]
                //
                // "static"  :: format the command with the given format from the config and don't
                //              consider any other formatting directives
                // "dynamic" :: format the command based on the command output. When the command
                //              output contains formatting strings for zjstatus, zjstatus will
                //              try to render them. This might lead to unexpected behavior, in case
                //              the formatting is not correct.
                // "raw"     :: do not apply any formatting. This can be used to properly render
                //              ansi escape sequences from the command output.
                command_uname_rendermode "static"
        }
    }
}
}
